{% extends 'base.html.twig' %}

{% block body %}
    <div class="container_utilisateurs">
        {% for message in app.flashes('success') %}
            <div class="success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('update') %}
            <div class="update">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('delete') %}
            <div class="delete">
                {{ message }}
            </div>
        {% endfor %}

        <h2 class="title_container">Liste des utilisateurs</h2>

        <div class="container_cards_users">
            {% for user in users %}
                <div class="card_user">
                    <img src="{{ asset('img/' ~ user.photo) }}" class="user_img">

                    <div class="infos_user">
                        <div class="user">
                            <p class="nom">{{ user.nom }}</p>
                            <p class="prenom">{{ user.prenom }}</p>
                            <p class="mail">{{ user.email }}</p>
                        </div>

                        <div class="modif_user">
                            <a href="{{ path('edit_user', { id: user.id }) }}"><i class="fa-solid fa-pen icone"></i></a> 
                            <a href="{{ path('delete_user', { id: user.id }) }}"><i class="fa-solid fa-trash icone"></i></a> 
                        </div>
                    </div>
                </div>
            {% endfor %}

            <a href="{{ path('add_user') }}" class="add">
                <p>+</p>
            </a>
        </div>
    </div>

    <div class="container_projets">
        <h2 class="title_container">Liste des projets</h2>

        <div class="container_cards_proj">
            {% for projet in projets %}
                <div class="card_project">
                    <img src="{{ asset('img/' ~ projet.image) }}" class="proj_img">

                    <p class="title_proj">{{ projet.name }}</p>

                    <div class="infos_proj">
                        <div class="proj">
                            <p>{{ projet.admin.email }}</p>
                            <p>Créé le {{ projet.createdat|date("d/m/Y") }}</p>

                            <div class="link_proj">
                                {% if projet.link != null and projet.link != '#' %}
                                    <a href="{{ projet.link }}" target="_blank"><i class="fa-solid fa-link icone"></i></a>
                                {% endif %}

                                {% if projet.github != null and projet.github != '#'  %}
                                    <a href="{{ projet.github }}" target="_blank"><i class="fa-brands fa-github icone"></i></a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="modif_user">
                            <a href="{{ path('edit_projet', { id: projet.id }) }}"><i class="fa-solid fa-pen icone"></i></a> 
                            <a href="{{ path('delete_projet', { id: projet.id }) }}"><i class="fa-solid fa-trash icone"></i></a> 
                        </div>
                    </div>
                </div>
            {% endfor %}

            <a href="{{ path('add_proj') }}" class="add">
                <p>+</p>
            </a>
        </div>
    </div>
{% endblock %}